<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Messages</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Mail</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.mail.emlx</string>
			</dict>
			<dict>
				<key>name</key>
				<string>iChat</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.ichat.transcript</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>MP3</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>name</key>
				<string>MP3</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>public.mp3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>All Items</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>name</key>
				<string>All Items</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>public.item</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>PDF</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>name</key>
				<string>PDF</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.adobe.pdf</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>iCal</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>name</key>
				<string>iCal Bookmarks</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.ical.bookmark</string>
			</dict>
			<dict>
				<key>name</key>
				<string>iCal Todo</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.ical.bookmark.todo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>iCal Ics</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.ical.ics</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Web</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Safari History</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.safari.history</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Safari Bookmarks</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.safari.bookmark</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Web Archive</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.webarchive</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>iWork</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Keynote</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.iwork.keynote.key</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Pages</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.iwork.pages.pages</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>AddressBook</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>name</key>
				<string>AddressBook Groups</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.addressbook.group</string>
			</dict>
			<dict>
				<key>name</key>
				<string>AddressBook Persons</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.addressbook.person</string>
			</dict>
			<dict>
				<key>name</key>
				<string>VCards</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>public.vcard</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>XCode</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>name</key>
				<string>XCode MOM</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.xcode.mom</string>
			</dict>
			<dict>
				<key>name</key>
				<string>XCode Project Groups</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.xcode.project</string>
			</dict>
			<dict>
				<key>name</key>
				<string>XCode EOModel Persons</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.xcode.eomodel.data</string>
			</dict>
			<dict>
				<key>name</key>
				<string>XCode Model Class</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.xcode.model.class</string>
			</dict>
			<dict>
				<key>name</key>
				<string>XCode Model Data</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.xcode.model.data</string>
			</dict>
<!--		<dict>
				<key>name</key>
				<string>XCode Target</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.xcode.target</string>
			</dict>
			<dict>
				<key>name</key>
				<string>XCode User Settings</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.xcode.usersettings</string>
			</dict>
			<dict>
				<key>name</key>
				<string>XCode Strings</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.xcode.strings.text</string>
			</dict>
			<dict>
				<key>name</key>
				<string>XCode Config Settings</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.xcode.configsettings</string>
			</dict>
			<dict>
				<key>name</key>
				<string>XCode Model</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.xcode.model</string>
			</dict>
-->
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Source Code</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>name</key>
				<string>C Headers</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>public.c-header</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Java source code</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.sun.java-source</string>
			</dict>
			<dict>
				<key>name</key>
				<string>C source code</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>public.c-source</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Objective-C source code</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>public.objective-c-source</string>
			</dict>
			<dict>
				<key>name</key>
				<string>C++</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>public.c-plus-plus-header</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Scripts</string>
		<key>tracks</key>
		<array>	
			<dict>
				<key>name</key>
				<string>Python Script</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>public.python-script</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Ruby Script</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>public.ruby-script</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Script</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>public.script</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Shell Script</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>public.shell-script</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PHP Script</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>public.php-script</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CSH Script</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>public.csh-script</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Perl Script</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>public.perl-script</string>
			</dict>
			<dict>
				<key>name</key>
				<string>AppleScript</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.apple.applescript.script</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>File Name</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>name</key>
				<string>File Name</string>
				<key>nameContentKeywords</key>
				<string>Name</string>
				<key>uti</key>
				<string>public.data</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Folder Name</string>
				<key>nameContentKeywords</key>
				<string>Name</string>
				<key>uti</key>
				<string>public.folder</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Microsoft Office</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Microsoft PowerPoint</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.microsoft.powerpoint.ppt</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Microsoft Excel</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.microsoft.excel.xls</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Microsoft Word</string>
				<key>nameContentKeywords</key>
				<string>Content</string>
				<key>uti</key>
				<string>com.microsoft.word.doc</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Image Keywords</string>
		<key>nameContentKeywords</key>
		<string>Keywords</string>
		<key>uti</key>
		<string>public.image</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Acorn</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.flyingmeat.acorn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Text</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>public.text</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Applications</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.apple.application</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AddressBook</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.apple.addressbook.person</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Archives</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>public.archive</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Smart Folders</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.apple.finder.smart-folder</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RTF</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>public.rtf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTML</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>public.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TEX</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>org.tug.tex</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VoodooPad</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.flyingmeat.voodoopad.vdoc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Disk Image</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.apple.disk.image</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CSS</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>public.css</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AppleWorks</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.apple.appleworks.cwk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Plain Text</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>public.plain-text</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yojimbo</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.barebones.yojimbo.yojimboitem</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Preference Panes</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.apple.systempreference.prefpane</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Assembly</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>public.assembly-source</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ada</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>public.ada.source</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Images</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>name</key>
				<string>PNG</string>
				<key>nameContentKeywords</key>
				<string>Name</string>
				<key>uti</key>
				<string>public.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TIFF</string>
				<key>nameContentKeywords</key>
				<string>Name</string>
				<key>uti</key>
				<string>public.tiff</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JPEG</string>
				<key>nameContentKeywords</key>
				<string>Name</string>
				<key>uti</key>
				<string>public.jpeg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>GIF</string>
				<key>nameContentKeywords</key>
				<string>Name</string>
				<key>uti</key>
				<string>com.compuserve.gif</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Movies</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>name</key>
				<string>3gpp</string>
				<key>nameContentKeywords</key>
				<string>Name</string>
				<key>uti</key>
				<string>public.3gpp</string>
			</dict>
			<dict>
				<key>name</key>
				<string>AVI</string>
				<key>nameContentKeywords</key>
				<string>Name</string>
				<key>uti</key>
				<string>public.avi</string>
			</dict>
			<dict>
				<key>name</key>
				<string>MPEG</string>
				<key>nameContentKeywords</key>
				<string>Name</string>
				<key>uti</key>
				<string>public.mpeg</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Movie</string>
				<key>nameContentKeywords</key>
				<string>Name</string>
				<key>uti</key>
				<string>public.movie</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>iDVD</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.apple.idvd.item-object</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iMovie</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.apple.imovie.imovieproject</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhoto</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.apple.iphoto.item-object</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OmniGraffle</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.omnigroup.omnigraffle.graffle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OmniOutliner</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.omnigroup.omnioutliner.oo3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Photoshop</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.adobe.photoshop-image</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Illustrator</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.adobe.illustrator.ai-image</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Microsoft Entourage Contacts</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.microsoft.entourage.virtual.contact</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Microsoft Entourage Events</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.microsoft.entourage.virtual.event</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Microsoft Entourage Groups</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.microsoft.entourage.virtual.group</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Microsoft Entourage Messages</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.microsoft.entourage.virtual.message</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Microsoft Entourage Notes</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.microsoft.entourage.virtual.note</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Microsoft Entourage Tasks</string>
		<key>nameContentKeywords</key>
		<string>Content</string>
		<key>uti</key>
		<string>com.microsoft.entourage.virtual.task</string>
	</dict>
</array>
</plist>
