<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dateType</key>
	<string>Creation</string>
	<key>defaultTracksImported</key>
	<false/>
	<key>disableRulerAntiAliasing</key>
	<false/>
	<key>disableTracksAntiAliasing</key>
	<true/>
	<key>ignoreTracksSearchScopes</key>
	<false/>
	<key>sliderBackYears</key>
	<integer>5</integer>
	<key>versionCheckRunAtStartup</key>
	<true/>
	<key>outlineExpandTrackGroups</key>
	<true/>
	<key>outlineExpandTracks</key>
	<false/>
</dict>
</plist>
