<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LatestVersion</key>
	<string>1.2</string>
	<key>PageURL</key>
	<string>http://code.google.com/p/spotlook/</string>
	<key>DownloadURL</key>
	<string>http://spotlook.googlecode.com/files/SpotLook_1_2.app.zip</string>
</dict>
</plist>
